*.iml
*.ipr
*.iws
*.swp
*~
.idea/
.project
.settings
.classpath
target
*.pyc
.svn
/build
test-output
/dist

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
**/.vs/

# NuGet Packages
*.nupkg
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
